{% extends "index.html.twig" %}

{% block section %}

    <div class="d-flex flex-row justify-content-center bg-purple-400 border-radius5 m-5 p-5">
        <div class="d-flex flex-column align-items-center     bg-white border-radius5 m-5 p-5">


        <h2 class="text-center">    Catégories   </h2>
 
        <form class="d-flex h-100" action="index.php" method="post">				
			<input class="bg-purple-300 rounded text-white border-0	p-1 align-self-end" type="submit" value="Modifier" name="modifCategories">
		</form>
        </div>
    </div>

     <div class="d-flex flex-row justify-content-center bg-purple-400 border-radius5 m-5 p-5">
        <div class="d-flex flex-column align-items-center     bg-white border-radius5 m-5 p-5">


        <h2 class="text-center">    Ressources   </h2>
 
        <form class="d-flex h-100" action="index.php" method="post">				
			<input class="bg-purple-300 rounded text-white border-0	p-1 align-self-end" type="submit" value="Modifier" name="modifRessources">
		</form>
        </div>
    </div>

    <div class="d-flex flex-row justify-content-center bg-purple-400 border-radius5 m-5 p-5">
        <div class="d-flex flex-column align-items-center     bg-white border-radius5 m-5 p-5">


        <h2 class="text-center">    Utilisateurs   </h2>
 
        <form class="d-flex h-100" action="index.php" method="post">				
			<input class="bg-purple-300 rounded text-white border-0	p-1 align-self-end" type="submit" value="Modifier" name="modifUtilisateurs">
		</form>
        </div>
    </div>

    
{% endblock %}
